@model NurseVolunteeringSystem.Models.Suburb

@{
    ViewData["Title"] = "Details";
}
<div class="w-100 bg-primary">
    <div class="pt-1 m-0 row">
        <h5 class="text-white text-center ml-5" style="text-align:center">Update Assign Information</h5>
    </div>
</div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SuburbName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SuburbName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

