@model IEnumerable<NurseVolunteeringSystem.Models.CareContract>

@{
    ViewData["Title"] = "ListContracts";
}
<div class="w-100 " style="background: rgb(255, 215, 0,0.8 )">
    <div class="pt-1 m-0 row">
        <h5 class="text-dark text-center ml-5" style="text-align:center">List contracts</h5>
    </div>
</div>
<hr />

<a asp-controller="Contract" asp-action="ListContracts" asp-area="Manager">Back to List</a>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressLine1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressLine2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suburb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WoundDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartCareDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndCareDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractStatus)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suburb.SuburbName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WoundDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartCareDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndCareDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractStatus)
                </td>

                <td>
                    <a asp-controller="Contract" asp-area="Manager" asp-action="AssignNurse" asp-route-id="@item.CareContractID">Assign Nurse</a>
                </td>
            </tr>
        }
    </tbody>
</table>
