@model IEnumerable<NurseVolunteeringSystem.Models.City>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ManagerLayout.cstml";
}
<div class="w-100 " style="background: rgb(255, 215, 0,0.8 )">
    <div class="pt-1 m-0 row">
        <h5 class="text-dark text-center ml-5" style="text-align:center">List Of Cities</h5>
    </div>
</div>
<hr />
<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New City</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abbreviation)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abbreviation)
                </td>

                <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.CityID">Edit</a> |
                        <a asp-action="Details" class="btn btn-light" asp-route-id="@item.CityID">Details</a> |
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.CityID">Delete</a>
                </td>
                

            </tr>
        }
    </tbody>
</table>


