@model IEnumerable<NurseVolunteeringSystem.Models.ViewModels.NurseViewModel>

@{
    ViewData["Title"] = "ListNurses";
}

<h1>ListNurses</h1>

<p>
    <a asp-controller="ManageUsers" asp-action="RegisterNurse">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.GenderName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDNumber)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.GenderName)
            </td>
           
            <td>
                <a asp-controller="ManageUsers" asp-action="UpdateNurse" asp-route-id="@item.UserID">Edit</a> |
                <a asp-controller="ManageUsers" asp-action="DeleteNurse" asp-route-id="@item.UserID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
